* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "open-sans", sans-serif;
}

.container {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	gap: 1rem;
}

.left-side {
	width: 26rem;
	/* background-color: #0517b3; */
	background-color: #6168f2;
	padding-left: 2rem;
	padding-top: 3rem;
}

.left-side p {
	color: #fff;
}

.my-img {
	width: 16rem;
	height: 15rem;
	border-radius: 50%;
	/* padding-left: 2rem; */
	position: relative;
	left: 1.5rem;
}
.my-name {
	font-family: "open-sans", sans-serif;
	gap: 1.1rem;
	padding-top: 1rem;
}

.name {
	font-size: 2.3rem;
	font-weight: bold;
	color: #000;
}

.majoring {
	font-size: 1.7rem;
	font-weight: bold;
	color: #000;
	padding-left: 0.4rem;
	padding-bottom: 0.6rem;
}

.all-skill-content {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: aqua;
}

.link {
	display: flex;
	align-items: center;
	gap: 01rem;
	padding-bottom: 0.5rem;
}

.link i {
	font-size: 1.1rem;
	color: #fff;
}

.link a,
.link a:link,
.link a:visited {
	font-size: 1.2rem;
	color: #fff;
	text-decoration: none;
}

.link a:hover,
.link a:active {
	color: #00faf6;
	/* font-weight: bold; */
	text-decoration: underline solid #2d37ed;
}

.my-relevant {
	display: flex;
	align-items: center;
	gap: 1.1rem;
	padding-bottom: 0.4rem;
}

.my-relevant p {
	font-size: 1.1rem;
}

.my-quantifiable {
	display: flex;
	align-items: center;
	gap: 1.1rem;
	padding-bottom: 0.4rem;
}

.my-quantifiable p {
	font-size: 1.1rem;
}

.language-skill {
	display: flex;
	align-items: center;
	gap: 1.1rem;
	padding-bottom: 0.4rem;
}

.language-skill p {
	font-size: 1.1rem;
}

.skill-title p {
	font-size: 1.05rem;
	font-weight: bold;
	font-size: 1.3rem;
	padding-left: 4rem;
	padding-bottom: 1.1rem;
}

.right-side {
	margin-top: 7rem;
	margin-left: 2rem;
	/* width: 45rem; */
}

.about-me-text p {
	font-size: 1.9rem;
	font-weight: bold;
}

.intro-about-me p {
	width: 25rem;
}

.intro-about-me {
	display: flex;
	margin-top: 1.6rem;
	margin-left: 1rem;
	/* align-items: center; */
}

.intro-content {
	width: 6px;
	height: 6px;
	background-color: #000;
	border-radius: 50%;
	margin-top: 0.4rem;
	margin-right: 1rem;
}

.intro-about-me p {
	font-size: 1.1rem;
	line-height: 1.7rem;
}

.education {
	margin-top: 2rem;
}

.education-title p {
	font-size: 1.9rem;
	font-weight: bold;
}

.education-history {
	padding-top: 1.6rem;
	padding-left: 1rem;
}

.education-his {
	display: flex;
	align-items: center;
	gap: 0.6rem;
	padding-bottom: 0.3rem;
}

.edu {
	padding-bottom: 0.7rem;
}

.education-his i {
	font-size: 2.3rem;
}

.education-his p {
	font-size: 1.2rem;
	font-weight: bold;
}

.edu-text {
	font-size: 1.1rem;
	padding-left: 2.5rem;
}

.certificate {
	margin-top: 1.5rem;
}

.certificate-title p {
	font-size: 1.9rem;
	font-weight: bold;
	padding-bottom: 1.4rem;
}

.my-certificate {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	gap: 0.8rem;
}

.certificate-intro {
	padding-left: 1.5rem;
}

.my-certificate i {
	font-size: 1.7rem;
}

.my-certificate p {
	font-size: 1.4rem;
}
